.flex-container {
    display: flex;
    justify-content: center;
}

section {
    padding: 3rem;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}

section:first-child {
    background-color: crimson;
}

section:nth-child(2) {
    background-color: tomato;
}

section:nth-child(3) {
    background-color: palevioletred;
}

section:nth-child(4) {
    background-color: khaki;
    order: -1;
}

section:nth-child(5) {
    background-color: blueviolet;
}

section:last-child {
    background-color: lightseagreen;
}

section:only-child {
    background-color: brown;
    color: aquamarine;
}

p:first-of-type {
    font-weight: bold;
    font-family: sans-serif;
}

p:last-of-type {
    font-family: sans-serif;
    font-size: 1.125rem;
}